<!DOCTYPE html>
<html lang='es'>
<head>

  <meta charset='utf-8'>
  {% block encabezado %}
  {% endblock %}

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>

<body>
  <header> 
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/obras">Obras</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/artistas">Artistas</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/museos">Museos</a>
          </li>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Buscar
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/obrasPorMuseo">Buscar obra por museo</a>
              <a class="dropdown-item" href="/obrasPorArtista">Buscar obra por artista</a>
              <a class="dropdown-item" href="/obrasPorNombreTecnica">Buscar obra por nombre o tecnica</a>
              <a class="dropdown-item" href="/obrasSimilares">Recomendar obras similares</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Cargar
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/cargarBD">Cargar base de datos</a>
              <a class="dropdown-item" href="/cargarWhoosh">Cargar Whoosh</a>
              <a class="dropdown-item" href="/cargarRS">Cargar RS</a>
            </div>
          </div>
        </ul>
      </div>
    </nav>
  </header>
  {% block contenido %}
  {% endblock %}
</body>
</html>