{% extends 'base.html' %}

{% block encabezado %}

<style>.block {
    text-align: center;
    }       

.b {
    padding: 50px;
    display: inline-block;
    }

h3{
  font-family: Garamond, serif;
}

h4{
  font-family: 'Times New Roman', serif;
}   

h5{
  font-family: 'Times New Roman', serif;
}   

</style>
<center><h1>Cargar Sistema de Recomendación</h1></center>

{% endblock %}
{% block contenido %}
<body>
<br>
<center><h5>Datos Cargados en el Sistema de Recomendacion</h5><center>
</body>
{% endblock %}
</html>