{% extends 'base.html' %}

{% block encabezado %}

<style>.block {
    text-align: center;
    }       

.b {
    padding: 50px;
    display: inline-block;
    }

h3{
  font-family: Garamond, serif;
}

h4{
  font-family: 'Times New Roman', serif;
}   

h5{
  font-family: 'Times New Roman', serif;
}   

</style>
<center><h1>Obras</h1></center>

{% endblock %}
{% block contenido %} 
    <div class="block">
      {% for obra in obras %}
      <div class="b">
        <div class="card" >
            <img class="card-img-top" src="{{obra.imagenTarjeta}}" alt="Obra" width="300" height="300">
            <div class="card-body">
              <h5><b>{{obra.nombre}}<b></h5>
              <h5>{{obra.artista}}</h5>
              <h6>{{obra.fecha}}</h6>   
              <a href="/detallesObra/{{obra.id}}" class="btn btn-primary">+ Info</a>
            </div>
        </div>
      </div>
  {% endfor %}
  </div>
{% endblock %}
