{% extends 'base.html' %}

{% block encabezado %}

<style>.block {
    text-align: center;
    }       

.b {
    padding: 50px;
    display: inline-block;
    }</style>
<br>
<center><h1>Buscar obras por museo</h1></center>

{% endblock %}

{% block contenido %} 
<center>
    <br>
    <h2>Escribe el nombre de un museo</h2>
    <h5>Puedes filtar por solo obras expuestas, marchando el recuadro junto al campo de texto</h5>
    <br>
    <form  id="formulario" method="post" action=''>{% csrf_token %}{{formulario}}
        <input type="checkbox" name="expuesto" value="expuesto" id="expuesto">
        <button class="btn-primary" type="submit" name="action">Buscar sus obras</button>
    </form>
</center>


    {% if obras %}
        <h3> {{ obras|length }} Resultado de la búsqueda</h3>
        <div class="block">
            {% for obra in obras %}
            <div class="b">
                <div class="card" >
                    <img class="card-img-top" src="{{obra.imagenTarjeta}}" alt="Obra" width="300" height="300">
                <div class="card-body">
                <h5><b>{{obra.nombre}}<b></h5>
                <h5>{{obra.artista}}</h5>
                <h6>{{obra.fecha}}</h6>   
                <a href="/detallesObra/{{obra.id}}" class="btn btn-primary">+ Info</a>
            </div>
        </div>           
            </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}